* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #eee;
    padding: 20px
}

header h2 {
    padding: 5px;
}

header .menu {
    border-top: 1px solid #ddd;
    padding: 10px 3px
}

header .menu a {
    margin: 5px;
}

footer {
    margin-top: 20px;
    background-color: #eee;
    border-top: 1px solid #ccc;
    padding: 20px;
}

main .title {
    padding: 20px;
    color: blue
}

table {
    width: 100%;
    margin: 20px;
}

table tr td {
    border: 1px solid #ccc;
}